@import "mixins";
@import "utilities";
@import "resets";
@import "variables";

body {
  font-family: $primary-font;
}
.main-nav {
  background: rgb(195, 246, 255);
  z-index: 2;
  position: sticky;
  top: 0;
  z-index: 2;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    align-items: center;
  }

  .logo {
    font-family: "Arvo", sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    // letter-spacing: 1px;
  }

  .logo1 {
    color: rgb(63, 62, 62);

    background: linear-gradient(
      13deg,
      #562ef8 0%,
      #2f43fa 25%,
      #692efd 50%,
      #3468f7 75%,
      #5c33ff 100%
    );
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;

    @keyframes animate {
      100% {
        background-position: 400%;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  ul {
    justify-self: end;
    display: flex;

    .nav-link {
      margin-left: 30px;
      font-size: 20px;
    }
  }
  .toggle-btn {
    position: absolute;
    right: 1rem;
    display: none;
    bottom: 0.5rem;
  }
  .toggle-btn1 {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    display: none;
    transition: all 0.2s;
  }

  @media (max-width: 600px) {
    .logo {
      font-size: 22px;
      padding-right: 20px;
    }
  }

  @media (max-width: 850px) {
    .nav-links {
      display: none;
    }
    .toggle-btn {
      display: block;
    }
    .hide {
      display: none;
    }
    .container {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    .active {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: 20px;
    }
    .act {
      display: block;
    }
    .nav-link {
      margin-top: 20px;
    }
  }
}
//End of navbar

.showcase {
  background: rgb(15, 18, 27);
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  @include backGradient(#02243d, #0b0b2c);
  // color1 : #02243d
  // color2 : #0b0b2c

  @media (min-height: 350px) {
    .showcase {
      height: 55vh;
    }
  }

  .showcase-maintext {
    font-family: $header-font;
    color: white;
    font-size: 50px;
    text-transform: uppercase;

    @media (max-width: 400px) {
      font-size: 39px;
    }
  }

  .showcase-subtext {
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
  }

  #animate {
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(22, end) forwards, blink 0.6s infinite;
  }
  @keyframes typing {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes blink {
    0%,
    100% {
      border-right: 2px solid transparent;
    }
    50% {
      border-right: 2px solid rgb(225, 225, 225);
    }
  }
}

.sc-1 {
  @include backGradient(rgb(90, 2, 2), rgb(243, 108, 120));
  .sc1-btn {
    @include btnColorToBack(rgb(245, 172, 172));
  }
}
.sc-2 {
  @include backGradient(rgb(114, 32, 102), rgb(11, 0, 14));

  .sc2-btn {
    @include btnColorToBack(rgb(232, 157, 229));
  }
}
.sc-3 {
  @include backGradient(rgb(4, 12, 4), rgb(73, 114, 7));

  .sc3-btn {
    @include btnColorToBack(rgb(178, 232, 157));
  }
}
.sc-4 {
  @include backGradient(rgb(96, 56, 175), rgb(31, 12, 72));

  .sc4-btn {
    @include btnColorToBack(rgb(232, 157, 229));
  }
}
.sc-5 {
  background: linear-gradient(135deg, #184e68 0%, #57ca85 100%);
  .sc-5-text {
    font-size: 45px;
  }
  .sc5-btn {
    @include btnColorToBack(rgb(168, 243, 168));
  }
}
.main-footer {
  text-align: center;
  background: rgb(225, 251, 255);

  .footer-text {
    font-size: 18px;
    padding: 20px;
    font-family: "Open Sans", serif;
  }
}

//End ofshowcase

.index-grid-container {
  margin: auto;
  max-width: 700px;
  display: grid;
  grid-template-columns: 1fr;

  .index-card {
    height: 200px;
    display: flex;
    justify-content: center;
  }

  .index-card-btn {
    width: 50%;
  }
  .index-chapter-name {
    font-size: 23px;
    padding-bottom: 15px;
  }
}
.card-grid-container {
  margin: auto;
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  margin: 30px 20px 20px;
  padding: 30px 60px;
  background: linear-gradient(135deg, #42e695 0%, #3bb2b8 100%);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  color: rgb(16, 16, 49);
  box-shadow: rgba(133, 133, 133, 0.686) 0px 22px 70px 4px;

  .img_link_grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-gap: 10px;
    .card_image {
      border-right: 1px solid rgb(112, 112, 112);
      width: 150px;
      height: 150px;
    }
  }

  .chapter-name {
    padding-bottom: 8px;
    font-size: 23px;
  }
  .line {
    background-color: rgb(183, 211, 220);
    width: 100%;
    height: 5px;
    margin-bottom: 8px;
    border-radius: 50px;
  }
  .card-btn {
    margin-bottom: 30px;
  }

  @media (max-width: 380px) {
    .chapter-name {
      font-size: 20px;
      padding-bottom: 5px;
    }
  }
  @media (max-width: 340px) {
    .chapter-name {
      font-size: 18px;
      padding-bottom: 5px;
    }
  }
}
@media (max-width: 650px) {
  .card-grid-container {
    grid-template-columns: 1fr;
  }
  .card {
    padding: 45px 50px;
  }
}
.less-margin {
  padding: 10px;
  margin-right: 10px;
}
// starting of the mcq styles
.dark-theme {
  background: rgb(0, 0, 0);
}
.mcq-header {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(135deg, #ffbcbd 0%, #ff21c8 100%);
  padding: 10px;
  border-radius: 10px;
  font-family: "Arvo", sans-serif;
  display: grid;

  grid-template-rows: repeat (3, 1fr);
  grid-gap: 10px;
  .head {
    font-size: 18px;

    text-transform: uppercase;
  }
}
.mcq-margin {
  padding: 20px;
  margin: auto;
  max-width: 550px;
  border-left: 1px solid rgb(136, 136, 136);
  border-right: 1px solid rgb(136, 136, 136);

  .mcq-grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 3rem;
  }

  .mcq-card {
    background: white;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    border-radius: 10px;
    padding: 10px;

    .mcq-header {
      background: rgba(218, 218, 218, 0.542);
      padding: 7px;
      font-weight: bolder;

      border-radius: 10px;
      font-family: "Arvo", sans-serif;
      font-size: 17px;
      border: 3px solid rgb(143, 143, 143);
      line-height: 2;
      cursor: pointer;
    }
    .mcq-option {
      // background:linear-gradient(135deg, #dddddd5d 0%,#ffffff8c 100%);

      padding: 10px;
      margin: 0 10px 10 10px;
      border-radius: 20px;
      font-size: 16px;
      cursor: pointer;
      border: 1px solid rgb(124, 124, 124);
      width: 100%;
      line-height: 2;
      font-family: "Arvo", sans-serif;
      backdrop-filter: blur(10px);
      position: relative;
      backdrop-filter: blur(50px);
    }
  }
  // https://github.com/AadarshBaral/CollegeChamp.git
}
// login  signup
// login  signup
// login  signup
// login  signup
// login  signup
// login  signup

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.login-card {
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
  padding: 10px;
  box-shadow: 0px 8px 16px 10px rgba(0, 0, 0, 0.2),
    0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.inside-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding: 10px;
  width: 350px;
  justify-content: center;
}
@media (max-width: 376px) {
  .inside-container {
    width: 300px;
  }
}
@media (max-width: 322px) {
  .inside-container {
    width: 290px;
  }
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 0;
  background: transparent;
  border-bottom: 2px solid rgb(0, 123, 255);

  /* border: 0px 0px 1px 0px  solid  rgb(141, 141, 255); */
  border-radius: 5px;
}
input[type="submit"] {
  width: 100%;
  background: transparent;
  //
  @include btnColorToBack(rgb(0, 123, 255));
  font-family: "Roboto";
  font-size: 20px;
  color: grey;
}
input[type="text"]:focus,
input[type="email"]:focus {
  outline: none;
  border: 2px solid rgb(0, 123, 255);
}

input::placeholder {
  font-size: 20px;
}
.oauth {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  border: 2px solid rgb(170, 123, 247);
  transition: background 0.1s ease-in-out;
  margin-bottom: 20px;

  &:hover {
    border: 2px solid rgb(0, 123, 255);
  }

  .fa-google {
    color: rgb(170, 123, 247);
    margin-right: 20px;
  }

  a {
    color: rgb(116, 115, 115);
  }
}

.already {
  font-size: 15px;
  margin-top: 10px;
  padding-left: 50px;
  color: rgb(97, 97, 97);
  font-size: 17px;
}
.linklog-in {
  color: rgb(46, 122, 194);
  text-decoration: underline;
  font-size: 17px;
}
//praactice set styles
//paractice set styles
//paractice set styles
//paractice set styles
//paractice set styles
//paractice set styles
//paractice set styles

.set-container {
  margin-top: 30px;
  margin-bottom: 10px;
  max-width: 650px;

  .set-grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 50px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
  }

  .the-set-collection {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 20px;
  }
  .practice-set {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 2fr;
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    .practice-set-index {
      display: inline-block;
    }
    .line-set {
      width: 1px;
      height: 40px;
      background: rgb(148, 148, 148);
    }
    .set-plan {
      padding-right: 10px;
    }
  }
  @media (max-width: 690px) {
    .set-grid-container {
      display: flex;
      flex-direction: column;
      margin: 10px 30px 10px 30px;
      grid-gap: 20px;
    }
  }
  @media (max-width: 405px) {
    .practice-set {
      padding: 20px;
    }
  }
  @media (max-width: 357px) {
    .practice-set {
      font-size: 17px;
      grid-template-columns: 1fr 20px 4fr 2fr;
    }

    // .line-set{
    //   display: none;
    // }
  }
}

.the-mock-test-collection {
  display: flex;
  flex-direction: column;

  .test-set {
    background: linear-gradient(135deg, #2cc8dd 0%, #6078ea 100%);
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: white;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    .set-text {
      padding: 20px 0px 20px 0px;
    }
  }
}
.shover {
  transition: transform 0.2s ease-in;
}

.shover:hover {
  transform: translateY(-5px);
}
