git push -u origin master
https://vigorous-haibt-85b298.netlify.app/




subject vector images from ==> <a href='https://www.freepik.com/vectors/logo'>Logo vector created by macrovector - www.freepik.com</a>

physics vector images ==> <a href='https://www.freepik.com/vectors/background'>Background vector created by macrovector - www.freepik.com</a>

maths vector image ==> <a href='https://www.freepik.com/vectors/school'>School vector created by macrovector - www.freepik.com</a>
chemistry ==> <a href='https://www.freepik.com/vectors/background'>Background vector created by freepik - www.freepik.com</a>


<a href='https://www.freepik.com/vectors/design'>Design vector created by macrovector - www.freepik.com</