@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Open+Sans:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Prompt:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Open+Sans:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Prompt:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
.mb-1 {
  margin-bottom: 20px;
}

.container {
  margin: auto;
  max-width: 1100px;
}

.main-container {
  margin: auto;
  max-width: 1100px;
}

.btn-secondary {
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  border: 2px solid #5ea1c0;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-secondary:hover {
  background: #5ea1c0;
  border: none;
}

.btn-primary {
  background-image: linear-gradient(to right, #6c84f2 0%, #5dadd1 51%, #516088 100%);
  font-family: "Prompt", sans-serif;
  cursor: pointer;
  padding: 10px 15px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 20px;
  display: block;
}

.btn-primary:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.main-nav {
  background: #c3f6ff;
  z-index: 2;
  position: sticky;
  top: 0;
  z-index: 2;
}

.main-nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  align-items: center;
}

.main-nav .logo {
  font-family: "Arvo", sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-nav .logo1 {
  color: #3f3e3e;
  background: linear-gradient(13deg, #562ef8 0%, #2f43fa 25%, #692efd 50%, #3468f7 75%, #5c33ff 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  100% {
    background-position: 400%;
  }
}

.main-nav .logo1:hover {
  cursor: pointer;
}

.main-nav ul {
  justify-self: end;
  display: flex;
}

.main-nav ul .nav-link {
  margin-left: 30px;
  font-size: 20px;
}

.main-nav .toggle-btn {
  position: absolute;
  right: 1rem;
  display: none;
  bottom: 0.5rem;
}

.main-nav .toggle-btn1 {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  display: none;
  transition: all 0.2s;
}

@media (max-width: 600px) {
  .main-nav .logo {
    font-size: 22px;
    padding-right: 20px;
  }
}

@media (max-width: 850px) {
  .main-nav .nav-links {
    display: none;
  }
  .main-nav .toggle-btn {
    display: block;
  }
  .main-nav .hide {
    display: none;
  }
  .main-nav .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .main-nav .active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
  }
  .main-nav .act {
    display: block;
  }
  .main-nav .nav-link {
    margin-top: 20px;
  }
}

.showcase {
  background: #0f121b;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  background-image: linear-gradient(315deg, #02243d 0%, #0b0b2c 100%);
}

@media (min-height: 350px) {
  .showcase .showcase {
    height: 55vh;
  }
}

.showcase .showcase-maintext {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
}

@media (max-width: 400px) {
  .showcase .showcase-maintext {
    font-size: 39px;
  }
}

.showcase .showcase-subtext {
  font-size: 18px;
  margin-bottom: 20px;
  color: white;
}

.showcase #animate {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(22, end) forwards, blink 0.6s infinite;
}

@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    border-right: 2px solid transparent;
  }
  50% {
    border-right: 2px solid #e1e1e1;
  }
}

.sc-1 {
  background-image: linear-gradient(315deg, #5a0202 0%, #f36c78 100%);
}

.sc-1 .sc1-btn {
  border: 2px solid #f5acac;
}

.sc-1 .sc1-btn:hover {
  color: black;
  background: #f5acac;
}

.sc-2 {
  background-image: linear-gradient(315deg, #722066 0%, #0b000e 100%);
}

.sc-2 .sc2-btn {
  border: 2px solid #e89de5;
}

.sc-2 .sc2-btn:hover {
  color: black;
  background: #e89de5;
}

.sc-3 {
  background-image: linear-gradient(315deg, #040c04 0%, #497207 100%);
}

.sc-3 .sc3-btn {
  border: 2px solid #b2e89d;
}

.sc-3 .sc3-btn:hover {
  color: black;
  background: #b2e89d;
}

.sc-4 {
  background-image: linear-gradient(315deg, #6038af 0%, #1f0c48 100%);
}

.sc-4 .sc4-btn {
  border: 2px solid #e89de5;
}

.sc-4 .sc4-btn:hover {
  color: black;
  background: #e89de5;
}

.sc-5 {
  background: linear-gradient(135deg, #184e68 0%, #57ca85 100%);
}

.sc-5 .sc-5-text {
  font-size: 45px;
}

.sc-5 .sc5-btn {
  border: 2px solid #a8f3a8;
}

.sc-5 .sc5-btn:hover {
  color: black;
  background: #a8f3a8;
}

.main-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #e1fbff;
}

.main-footer .footer-text {
  font-size: 18px;
  padding: 20px;
  font-family: "Open Sans", serif;
}

.index-grid-container {
  margin: auto;
  max-width: 700px;
  display: grid;
  grid-template-columns: 1fr;
}

.index-grid-container .index-card {
  height: 200px;
  display: flex;
  justify-content: center;
}

.index-grid-container .index-card-btn {
  width: 50%;
}

.index-grid-container .index-chapter-name {
  font-size: 23px;
  padding-bottom: 15px;
}

.card-grid-container {
  margin: auto;
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  margin: 30px 20px 20px;
  padding: 30px 60px;
  background: linear-gradient(135deg, #42e695 0%, #3bb2b8 100%);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  color: #101031;
  box-shadow: rgba(133, 133, 133, 0.686) 0px 22px 70px 4px;
}

.card .img_link_grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  grid-gap: 10px;
}

.card .img_link_grid .card_image {
  border-right: 1px solid #707070;
  width: 150px;
  height: 140px;
}

.card .chapter-name {
  padding-bottom: 8px;
  font-size: 23px;
}

.card .line {
  background-color: #b7d3dc;
  width: 100%;
  height: 5px;
  margin-bottom: 8px;
  border-radius: 50px;
}

.card .card-btn {
  margin-bottom: 30px;
}

@media (max-width: 380px) {
  .card .chapter-name {
    font-size: 20px;
    padding-bottom: 5px;
  }
}

@media (max-width: 340px) {
  .card .chapter-name {
    font-size: 18px;
    padding-bottom: 5px;
  }
}

@media (max-width: 650px) {
  .card-grid-container {
    grid-template-columns: 1fr;
  }
  .card {
    padding: 45px 50px;
  }
}

.less-margin {
  padding: 10px;
  margin-right: 10px;
}

.dark-theme {
  background: black;
}

.mcq-header {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(135deg, #ffbcbd 0%, #ff21c8 100%);
  padding: 10px;
  border-radius: 10px;
  font-family: "Arvo", sans-serif;
  display: grid;
  grid-template-rows: repeat 3, 1fr;
  grid-gap: 10px;
}

.mcq-header .head {
  font-size: 18px;
  text-transform: uppercase;
}

.mcq-margin {
  padding: 20px;
  margin: auto;
  max-width: 550px;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
}

.mcq-margin .mcq-grid-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 3rem;
}

.mcq-margin .mcq-card {
  background: white;
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  border-radius: 10px;
  padding: 10px;
}

.mcq-margin .mcq-card .mcq-header {
  background: rgba(218, 218, 218, 0.542);
  padding: 7px;
  font-weight: bolder;
  border-radius: 10px;
  font-family: "Arvo", sans-serif;
  font-size: 17px;
  border: 3px solid #8f8f8f;
  line-height: 2;
  cursor: pointer;
}

.mcq-margin .mcq-card .mcq-option {
  padding: 10px;
  margin: 0 10px 10 10px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #7c7c7c;
  width: 100%;
  line-height: 2;
  font-family: "Arvo", sans-serif;
  backdrop-filter: blur(10px);
  position: relative;
  backdrop-filter: blur(50px);
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.login-card {
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
  padding: 10px;
  box-shadow: 0px 8px 16px 10px rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.inside-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding: 10px;
  width: 350px;
  justify-content: center;
}

@media (max-width: 376px) {
  .inside-container {
    width: 300px;
  }
}

@media (max-width: 322px) {
  .inside-container {
    width: 290px;
  }
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 0;
  background: transparent;
  border-bottom: 2px solid #007bff;
  /* border: 0px 0px 1px 0px  solid  rgb(141, 141, 255); */
  border-radius: 5px;
}

input[type="submit"] {
  width: 100%;
  background: transparent;
  border: 2px solid #007bff;
  font-family: "Roboto";
  font-size: 20px;
  color: grey;
}

input[type="submit"]:hover {
  color: white;
  background: #007bff;
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: none;
  border: 2px solid #007bff;
}

input::placeholder {
  font-size: 20px;
}

.oauth {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  border: 2px solid #aa7bf7;
  transition: background 0.1s ease-in-out;
  margin-bottom: 20px;
}

.oauth:hover {
  border: 2px solid #007bff;
}

.oauth .fa-google {
  color: #aa7bf7;
  margin-right: 20px;
}

.oauth a {
  color: #747373;
}

.already {
  font-size: 15px;
  margin-top: 10px;
  padding-left: 50px;
  color: #616161;
  font-size: 17px;
}

.linklog-in {
  color: #2e7ac2;
  text-decoration: underline;
  font-size: 17px;
}

.set-container {
  margin-top: 30px;
  margin-bottom: 10px;
  max-width: 650px;
}

.set-container .set-grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 50px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.set-container .the-set-collection {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

.set-container .practice-set {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 2fr;
  background: white;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.set-container .practice-set .practice-set-index {
  display: inline-block;
}

.set-container .practice-set .line-set {
  width: 1px;
  height: 40px;
  background: #949494;
}

.set-container .practice-set .set-plan {
  padding-right: 10px;
}

@media (max-width: 690px) {
  .set-container .set-grid-container {
    display: flex;
    flex-direction: column;
    margin: 10px 30px 10px 30px;
    grid-gap: 20px;
  }
}

@media (max-width: 405px) {
  .set-container .practice-set {
    padding: 20px;
  }
}

@media (max-width: 357px) {
  .set-container .practice-set {
    font-size: 17px;
    grid-template-columns: 1fr 20px 4fr 2fr;
  }
}

.the-mock-test-collection {
  display: flex;
  flex-direction: column;
}

.the-mock-test-collection .test-set {
  background: linear-gradient(135deg, #2cc8dd 0%, #6078ea 100%);
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.the-mock-test-collection .test-set .set-text {
  padding: 20px 0px 20px 0px;
}

.shover {
  transition: transform 0.2s ease-in;
}

.shover:hover {
  transform: translateY(-5px);
}

.blog-grid-container {
  display: grid;
  align-items: flex-start;
  justify-content: center;
  grid-template-columns: 70% 30%;
  grid-gap: 2rem;
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  font-size: 19px;
  margin: 2rem;
  position: relative;
}

.blog-grid-container .blog-title {
  font-size: 2.5rem;
  margin: .5rem 0 .5rem 0;
}

.blog-grid-container .line {
  height: 4px;
  width: 100%;
  margin-bottom: 1rem;
  background: #2e00b7;
}

.blog-grid-container .author {
  font-size: 1.3rem;
}

.blog-grid-container .date-posted {
  margin-bottom: 1rem;
}

.blog-grid-container .written-blog-container .social-grid-container {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
}

@media (max-width: 768px) {
  .blog-grid-container .written-blog-container .social-grid-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
  }
}

.blog-grid-container .written-blog-container .social-icons {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  justify-content: center;
  grid-gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

@media (max-width: 768px) {
  .blog-grid-container .written-blog-container .social-icons {
    grid-gap: 1rem;
  }
}

.blog-grid-container .written-blog-container .social-icons .share {
  color: #00476d;
}

.blog-grid-container .written-blog-container .social-icons .social-icon {
  width: 30px;
  height: 30px;
}

.blog-grid-container .written-blog-container .social-icons .social-icon:hover {
  filter: grayscale(100);
}

.blog-grid-container .sidebar {
  background: #e5efff;
  margin: 1.3rem 0  0rem 0;
  width: 100%;
  position: sticky;
  top: 13%;
  padding: 10px;
  border-radius: 1rem;
  border: 2px solid #2e00b7;
}

.blog-grid-container .sidebar .side-bar-content {
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  background: #feffff;
}

.blog-grid-container .sidebar .side-bar-content:hover {
  color: grey;
}

@media (max-width: 600px) {
  .blog-grid-container .blog-title {
    font-size: 2rem;
  }
  .blog-grid-container .author {
    font-size: 1.2rem;
  }
  .blog-grid-container .author-date {
    font-size: 1.2rem;
  }
}

.blog-grid-container .blog-content {
  color: pink;
}

@media (max-width: 1080px) {
  .blog-grid-container .blog-grid-container {
    margin: 30px;
  }
}

@media (max-width: 1172px) {
  .blog-grid-container {
    display: flex;
    flex-direction: column;
  }
}
